

body {
    background-color:white;
}

h2 {
   font-family: sans-serif;
   font-size: 20px;
}

h3 {
    font-family: sans-serif;
    font-size: 17px;
 }

 H4 {
     font-family: sans-serif;
     font-size: 18px;
 }